* {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans";
    box-sizing: border-box;
}

html, body {
    height: auto;
    min-height: 100vh;
}

html {
    background: linear-gradient(#1710ea 0%, #16ea99 100%);
}

input:focus {
    outline: none;
}

#register-container {
    max-width: 900px;
    min-height: 90vh;
    margin: 3rem auto;
    display: flex;
    box-shadow: rgba(238, 91, 6, 0.25) 0px 13px 27px -5px,
    rgb(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#register-banner {
    background: url("../img/banner.webp");
    background-size: cover;
    background-position: center;
    width: 50%;
}

#banner-layer {
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    background-color: rgba(209, 169, 169, 0.7);
}

#register-banner h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    word-spacing: 50rem;
    color: #fff;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #010000;
}

#register-form {
    background-color: #f8e9e9;
    padding: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#register-form h2 {
    text-align: center;
    font-size: 2.1rem;
    margin-bottom: 1rem;
}

#register-form p {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #544646;
    font: 0.8rem;
}

.form-control {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.6rem;
}

.form-control input {
    border: none;
    border-bottom: 1px solid #190f0f;
    padding: 0.6rem 0;
    background-color: #f8e9e9;
}

#generate-password {
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}

#generate-password:hover {
    color: #0099ff;
}

#register-form #generated-password {
    border: 1px solid #010000;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.4rem;
    color: #544646;
    text-align: center;
    margin-bottom: 1rem;
    display: none;
}

#register-form #generated-password p {
    margin-bottom: 0.5rem;
    color: #190f0f;
}

#register-form input[type="submit"],
#button-create-password,
#copy-password {
    background-color: #0099ff;
    color: #190f0f;
    opacity: 0.8;
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.4rem;
    max-width: 150px;
    cursor: pointer;
    align-self: flex-end;
    transition: 0.4s;
}

#register-form input[type="submit"]:hover {
    opacity: 1;
}

/* OPÇÕES */
#generate-options {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #010000;
}

#generate-options .form-control {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#generate-options label {
    font-size: 0.8rem;
}

#generate-options input[type="text"] {
    max-width: 30px;
    text-align: center;
    border: 1px solid #010000;
}

#button-create-password {
    background-color: #0099ff;
    display: block;
    margin: 0 auto;
}

#copy-password {
    margin: 1rem auto;
    background-color: transparent;
    border: 2px solid #2318b3;
    color: #010000;
    padding: 0.5rem 1rem;
}

.hide {
    display: none;
}